@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 64px;
  color: #ffffff;
  line-height: 75px;
}

.container {
  width: 1100px;
  margin: 20px auto;
  overflow: auto;
  background-color: #c4c4c4;
  padding-top: 50px;
  line-height: 200px;
}

.block-first {
  width: 1000px;
  margin: 0px auto;
  overflow: auto;
  background-color: #e6e6e6;
  margin-bottom: 50px;
}

.first-red,
.second-red {
  width: 200px;
  height: 200px;
  background-color: #fc8f8f;
}

.first-red {
  float: left;
}

.second-red {
  float: right;
}

span {
  display: block;
  text-align: center;
}

.small-blocks {
  float: right;
}

.second-block {
  width: 100px;
  height: 100px;
  background-color: #fc8f8f;
  margin-left: 15px;
  float: left;
  line-height: 100px;
}

.small-number {
  font-size: 36px;
}

.last-bloks {
  float: right;
}

.second-red:nth-last-of-type(2) {
  float: left;
  margin-left: 15px;
}

.second-red:nth-last-of-type(1) {
  margin-left: 15px;
}
